name: deploy

on:
  workflow_dispatch:
  push:
    branches: ["master"]

jobs:
  build:
    runs-on: [self-hosted]
    
    steps:
      - uses: actions/checkout@v3
      - name: Build and deploy
        shell: bash
        run: |
          npm ci
          rm -rf ./dist/
          npm run build-without-tsc
          sudo rm -rf /var/www/html/*
          sudo /usr/bin/cp -r ./dist/* /var/www/html/
          sudo systemctl restart rails
